body {
    font-family: Verdana, sans-serif;
    font-size: 22px;
}

#playerName1, #scorePlayer1, #birdsPlayer1, #bonusPlayer1, #goalsPlayer1, #eggsPlayer1, #foodPlayer1, #tuckedPlayer1 {
    color: blue;
}

#playerName2, #scorePlayer2, #birdsPlayer2, #bonusPlayer2, #goalsPlayer2, #eggsPlayer2, #foodPlayer2, #tuckedPlayer2 {
    color: green;
}

#playerName3, #scorePlayer3, #birdsPlayer3, #bonusPlayer3, #goalsPlayer3, #eggsPlayer3, #foodPlayer3, #tuckedPlayer3 {
    color: red;
}

#playerName4, #scorePlayer4, #birdsPlayer4, #bonusPlayer4, #goalsPlayer4, #eggsPlayer4, #foodPlayer4, #tuckedPlayer4 {
    color: goldenrod;
}

#playerName5, #scorePlayer5, #birdsPlayer5, #bonusPlayer5, #goalsPlayer5, #eggsPlayer5, #foodPlayer5, #tuckedPlayer5 {
    color: indigo;
}